.footer {
  padding-bottom: 25px;
  margin: 90px auto 0;
  width: 100%;
  max-width: 194px;
}
.footer__copyright {
  margin: 0;
  color: #ffffff;
}

@media screen and (max-width: 780px) {
  .footer__copyright {
    margin-bottom: 2px;
  }
}
