@media screen and (min-width: 1410px) {
  .content__proceed {
    width: 100%;
    align-items: center;

    margin: 70px 0;

    align-content: flex-start;
  }
}

@media screen and (max-width: 1024px) {
  .content__proceed {
    margin: 90px auto;
    width: 100%;
    max-width: 720px;
  }
  .cover__title {
    max-width: 530px;
    font-size: 75px;
    font-weight: 900;
    line-height: 79px;
    text-align: center;
  }
  .content__title {
    max-width: 707px;
    font-size: 45px;
    font-weight: 900;
    line-height: 49px;
  }
  .content__text {
    max-width: 720px;
  }
}

@media screen and (max-width: 760px) {
  .content__proceed {
    width: 80%;
  }
}

@media screen and (max-width: 470px) {
  .header__logo {
    max-width: 188px;
  }
  .header__logo-image {
    width: 188px;
    align-items: center;
  }

  .cover__title {
    max-width: 288px;
    font-size: 40px;
    font-weight: 900;
    line-height: 44px;
    text-align: center;
  }
  .cover__subheading {
    max-width: 288px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
  }
  .content__proceed {
    width: 100%;
    max-width: 288px;
  }
  .content__title {
    width: 100%;
    font-size: 32px;
    font-weight: 900;
    line-height: 35px;
  }
  .content__quote {
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
  }
  .content__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 26.08px;
  }
}
