.photo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  margin: 118px auto 0;
  max-width: 90%;
}

.photo__grid {
  margin: 0;
  width: 100%;
}

@media screen and (max-width: 930px) {
  .photo {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}

@media screen and (max-width: 320px) {
  .photo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    gap: 20px;
  }
}
